{% extends 'AppSamuel/base.html' %}

{% load static %}

{% block title %} Detalle libro {% endblock title %}

{% block main %}
<div class="container mt-4">
    <h2>Detalle del libro</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Título: <i>{{ libro.titulo }}</i></h5>
            <p class="card-text"><strong>Autor:</strong> {{ libro.autor.nombre }} {{ libro.autor.apellido }}</p>
            <p class="card-text"><strong>Categoría:</strong> {{ libro.categoria.categoria }}</p>
            <p class="card-text"><strong>Año de publicación:</strong> {{ libro.año_de_publicacion }}</p>
            <p class="card-text"><strong>Descripción:</strong><i style="color: #696969">{{ libro.descripcion }}</i></p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'ListaLibros' %}" class="btn btn-secondary">Regresar</a>
        </div>
    </div>
</div>
{% endblock main %}
