{% extends 'AppSamuel/base.html' %}

{% load static %}

{% block title %} Editar libro {% endblock title %}

{% block main %}
<div class="container mt-4">
    <h2>Editar libro</h2>
    <div class="row">
        <div class="col-md-8">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'ListaLibros' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
        
        <div class="col-md-4">
            {% if form.instance.imagen %}
            <div class="text-center">
                <h3>Imagen Actual:</h3>
                <img src="{{ form.instance.imagen.url }}" alt="Imagen de {{ form.instance.titulo }}" class="img-fluid">
            </div>
            {% else %}
            <p class="text-center">No hay imagen actual</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}

